<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="bg-dark text-white vh-100 p-3"
     style="width:260px; position:fixed;">

    <h3 class="mb-4">
        📱 SIM Manager
    </h3>

    <ul class="nav flex-column">

        <li class="nav-item mb-2">
            <a href="/dashboard"
               class="nav-link text-white">
                📊 Dashboard
            </a>
        </li>

        <li class="nav-item mb-2">
            <a href="/sims"
               class="nav-link text-white">
                📱 SIM Management
            </a>
        </li>

        <li class="nav-item mb-2">
            <a href="/employees"
               class="nav-link text-white">
                👨 Employees
            </a>
        </li>

        <li class="nav-item mb-2">
            <a href="/assignment-history"
               class="nav-link text-white">
                📜 Assignment History
            </a>
        </li>

        <hr class="text-white">

        <li class="nav-item">
            <a href="/logout"
               class="nav-link text-danger">
                🚪 Logout
            </a>
        </li>

    </ul>

</div>

</html>